2019/243 NWEN/ass2/pets_schema.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://www.example.com/xml/Schema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.example.com/xml/Schema">a
  <xs:element name="PetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pet" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Species"/>
              <xs:element type="xs:string" name="Fuzziness"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>